@model EndorsementRejection.Models.Entities.EndoRejection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EndoRejection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyHolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyHolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessedType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessedType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.completedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.completedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.completedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.completedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
